<% if(profile != undefined){ %>
        <div>nickName : <%= nickName %></div>
        <div>profileImageURL : <%= profileImageURL %></div>
        <div>thumbnailURL : <%= thumbnailURL %></div>
        <div>bgImageURL : <%= bgImageURL %></div>
        <div>permalink : <%= permalink %></div>
        <div>birthday : <%= birthday %></div>
        <div>birthdayType : <%= birthdayType %></div>
        
        
        
    <% } %>