<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>
        <div>검색된 문서 수 : <%= meta.total_count %></div>
        <div>노출 가능 문서 수 : <%= meta.pageable_count %></div>
        <div>현재 페이지가 마지막 페이지인가요? : <%= meta.is_end %></div>

        <% if(meta.same_name != null){ %>
        <div>질의어에서 인식된 지역의 리스트 : <%= meta.same_name.region %></div>
        <div>질의어에서 지역 정보를 제외한 키워드 : <%= meta.same_name.keyword %></div>
        <div>인식된 지역 리스트 중, 현재 검색에 사용된 지역 정보 : <%= meta.same_name.select_region %></div>
    
        <% } %>
    
        <h2>
            요청하신 '<%= query %>' 검색 결과를 보여드리겠습니다.
    </h2>
        <% for(var i=0; i<documents.length; i++){ %>
            <div>장소 ID : <%= documents[i].
id %></div>
            <div>장소명, 업체명 : <%= documents[i].place_name %></div>
            <div>카테고리 이름 : <%= documents[i].category_name %></div>
            <div>중요 카테고리만 그룹핑한 카테고리 그룹 코드 : <%= documents[i].category_group_code %></div>
            <div>중요 카테고리만 그룹핑한 카테고리 그룹명 : <%= documents[i].category_group_name %></div>
            <div>전화번호 : <%= documents[i].phone %></div>
            <div>전체 지번 주소 : <%= documents[i].address_name %></div>
            <div>전체 도로명 주소 : <%= documents[i].road_address_name %></div>
            <div>X 좌표값 혹은 longitude : <%= documents[i].x %></div>
            <div>Y 좌표값 혹은 latitude : <%= documents[i].y %></div>
            <div>장소 상세페이지 URL : <%= documents[i].place_url %></div>
            <div>중심좌표까지의 거리 (단, x,y 파라미터를 준 경우에만 존재)
단위 meter : <%= documents[i].distance %></div>
    
    
            
            
          
            
            <br>
            
    <% } %>
    
    
        
    
    
</body>

</html>
