<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>
        <div>검색된 문서 수 : <%= meta.total_count %></div>
        <div>노출 가능 문서 수 : <%= meta.pageable_count %></div>
        <div>현재 페이지가 마지막 페이지인가요? : <%= meta.is_end %></div>
    
        <h2>
            요청하신 '<%= query %>' 검색 결과를 보여드리겠습니다.
    </h2>
        <% for(var i=0; i<documents.length; i++){ %>
            <div>문서 작성시간 : <%= documents[i].datetime %></div>
            <div>collection : <%= documents[i].collection %></div>
            <div>출처 : <%= documents[i].display_sitename %></div>
            <div>문서 URL : <%= documents[i].doc_url %></div>
            <div>미리보기 이미지 URL : <%= documents[i].thumbnail_url %></div>
            <div>이미지 URL : <%= documents[i].image_url %></div>
            <div>이미지의 가로 길이 : <%= documents[i].width %></div>
            <div>이미지의 세로 길이 : <%= documents[i].height %></div>
            
            
            <br>
            
    <% } %>
    
    
        
    
    
</body>

</html>
