<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>
        <div>nickName : <%= nickName %></div>
        <div>profileImageURL : <%= profileImageURL %></div>
        <div>thumbnailURL : <%= thumbnailURL %></div>
        <div>bgImageURL : <%= bgImageURL %></div>
        <div>permalink : <%= permalink %></div>
        <div>birthday : <%= birthday %></div>
        <div>birthdayType : <%= birthdayType %></div>
    
    
        <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/story/write_text">


            <button type="submit">카카오스토리 글 작성하기 이동</button>
          
        </form>

      </div>
</body>

</html>
